<mat-card>
    <mat-card-header>
        <mat-card-title>🔎 Search Screenshots</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-form-field appearance="outline" class="form-field">
            <mat-label>Type your search query</mat-label>
            <input matInput [(ngModel)]="query" (keyup.enter)="onSearch()" placeholder="e.g. invoice">
        </mat-form-field>

        <button mat-raised-button color="primary" (click)="onSearch()">Search</button>
    </mat-card-content>
</mat-card>

@if(results.length > 0){
<h3>Results</h3>
<ul>
    @for(r of results; track $index){
    <li class="result-text">
        <img  class="clickable" [src]="r.filePath" alt="Screenshot" width="100" (click)="openImage(r.filePath)">
        <p>{{ r.extractedText }}</p>
        <small>Score: {{ r.score | number:'1.2-2' }}</small>
    </li>
    }
</ul>
}